
  <!DOCTYPE html>
  <html>
  <head>
    <title>Mercado-Liebre</title>
    <meta charset="UTF-8">
    <meta name = "viewport" content= "width = device-width, initial-scale=1">
    <title>Mi primer documento en HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b9ca258800.js" crossorigin="anonymous"></script>
    <link href= "/views/register.html" rel= stylesheet>
    
  </head>
  
  <body>
      
    <header class =  "main-header">
    
     <div class = "main-header-top-bar">
     <img src = "/imagenes/logo-mercado-liebre.svg" class= "logo">
      <div class= "busqueda"><input type="search" id="busqueda" placeholder = "Buscar productos,marcas" name="q"/><i class="fas fa-search"></i></div>
    
      <h4 class = "copy-header">
        <i class = "fas fa-hand-holding-usd"></i>
        Compra en cuotas y sin tarjeta de credito
      </h4> 
    </div>
    
    <nav class = "main-header-bottom-bar">
      <ul class= "left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class= "left2-navbar">
        <li><a target = "_blank" href="/register">Crea tu cuenta</a><i class="fas fa-id-card"></i></li>
        <li><a target = "_blank" href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </div>
      </ul>
     </nav>
     <div class= "burger-menu">
       <i class="fas fa-bars"></i>
       
         </header>
    <img src= "/imagenes/img-home-banner.jpg" class = "banner">
    <h2 class = "titulo">Basado en tu ultima visita</h2>
<main>
  
  <div class= "contenedor">
      <div class= articulo>
      <img src= "/imagenes/img-cafetera-moulinex.jpg">
      <div class = "description"> 
        <div class = "iconoEnvio"> <i class="fas fa-truck"></i></div>
        <div class= "precio">$ 6.770</div>
        <div class = "descuento">40% OFF</div>
      <h3 class= "nombre">Cafetera Moulinex</h3>
      </div>
     </div>
  </div>
  
  <div class= "contenedor">
     <div class= articulo>
      <img src= "/imagenes/img-macbook-pro-2019.jpg">
      <div class = "description"> 
        <div class = "iconoEnvio"> <i class="fas fa-truck"></i></div>
        <div class= "precio">$ 230.000</div>
        <div class = "descuento">20% OFF</div>
      <h3 class= "nombre">MacBook Pro 2019</h3>
      </div>
     </div>
  </div>
  
<div class= "contenedor">
     <div class= articulo>
      <img src= "/imagenes/img-samsung-galaxy-s10.jpg">
      <div class = "description">
        <div class = "iconoEnvio">
          <i class="fas fa-truck"></i>
        </div>
        <div class= "precio">$ 70.500</div>
        <div class = "descuento">10% OFF</div>
        <h3 class= "nombre">Samsung Galaxy S10</h3>
      </div>
     </div>
</div>

<div class= "contenedor">
     <div class= articulo> 
      <img src= "/imagenes/img-tv-samsung-smart.jpg">
      <div class = "description"> 
        <div class = "iconoEnvio"><i class="fas fa-truck"></i></div>
        <div class= "precio">$ 23.200</div>
        <div class = "descuento">5% OFF</div>
      <h3 class= "nombre">Smart TV Samsung 43"</h3>
      </div>
     </div>
</div>
</main>
<h2 class = "titulo">Ofertas</h2>

<main>
<div class= "contenedor">
  <div class= articulo>
  <img src= "/imagenes/img-cafetera-moulinex.jpg">
  <div class = "description"> 
    <div class = "iconoEnvio"> <i class="fas fa-truck"></i></div>
    <div class= "precio">$ 6.770</div>
    <div class = "descuento">40% OFF</div>
  <h3 class= "nombre">Cafetera Moulinex</h3>
  </div>
 </div>
</div>

<div class= "contenedor">
 <div class= articulo>
  <img src= "/imagenes/img-macbook-pro-2019.jpg">
  <div class = "description"> 
    <div class = "iconoEnvio"> <i class="fas fa-truck"></i></div>
    <div class= "precio">$ 230.000</div>
    <div class = "descuento">20% OFF</div>
  <h3 class= "nombre">MacBook Pro 2019</h3>
  </div>
 </div>
</div>

<div class= "contenedor">
 <div class= articulo>
  <img src= "/imagenes/img-samsung-galaxy-s10.jpg">
  <div class = "description">
    <div class = "iconoEnvio">
      <i class="fas fa-truck"></i>
    </div>
    <div class= "precio">$ 70.500</div>
    <div class = "descuento">10% OFF</div>
    <h3 class= "nombre">Samsung Galaxy S10</h3>
  </div>
 </div>
</div>

<div class= "contenedor">
 <div class= articulo> 
  <img src= "/imagenes/img-tv-samsung-smart.jpg">
  <div class = "description"> 
    <div class = "iconoEnvio"><i class="fas fa-truck"></i></div>
    <div class= "precio">$ 23.200</div>
    <div class = "descuento">5% OFF</div>
  <h3 class= "nombre">Smart TV Samsung 43"</h3>
  </div>
 </div>
</div>

</main>
  
  </body>
  <footer>
    <div class = "contenedor-footer">
      <div class= "pago">
        <div class = icono><i class="fas fa-credit-card"></i></div>
        <h3>Paga con tarjeta o en efectivo</h3>
        <p> Con Mercado Libre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </div>
      
          
      <div class= "enviogratis">
      <div class = icono><i class="fas fa-gift"></i></div>
      <h3>Envio gratis desde $ 2500</h3>
      <p> Solo por estar registra@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </div>
        
      <div class= "seguridad">
      <div class = icono><i class="fas fa-user-shield"></i></div>
      <h3>Seguridad de principio a fin</h3>
      <p>No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</p>
      </div>
    </div>
    <div class="copy">Copyright C 1999-2020 MercadoLiebre S.R.L.</div>
  </footer>
  

  </html>
    
 
