<!DOCTYPE html>
<html>
<head>
<title>Formulario de ingreso</title>
</head>
<link rel = "stylesheet" href = "/css/style.css">


<body>
   <header class =  "main-header">
      <div class = "main-header-top-bar">
        <img src = "/imagenes/logo-mercado-liebre.svg" class= "logo">
      </div>
   </header>

  <div class= "ingreso">
   <h1>¡Hola! Ingresá tu teléfono, e‑mail o usuario</h1>
  <form action="/" method="POST" class="formulario">
    
   <label for="usuario" class="form">E-mail o usuario</label>
       <div><input type="text" name="usuario" id="usuario" class="usuario" required>
       </div>
  
       
       <label for = "contraseña" class="form">Contraseña</label>
        <div><input type="password" name="contraseña" id="contraseña" class= "contraseña" required>
        </div>
       
      
     
      <button type="submit" class= "envio" value="Enviar">ENVIAR </button>
    
 
       
</form>
</body>

</html>


